{% extends 'base_back.html.twig' %}

{% block title %}Edit Card{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold mb-4">Edit Card</h1>

    <div class="flex justify-between mb-4">
        <a href="{{ path('app_card_index') }}" class="px-4 py-2 bg-blue-500 text-white rounded cursor-pointer">Back to list</a>
        {{ include('back/card/_delete_form.html.twig') }}
    </div>

    {{ include('back/card/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}