{% extends 'base.html.twig' %}

{% block title %}Nouveau Contact{% endblock %}

{% block body %}
    <body class="leading-normal tracking-normal text-white gradient" style="font-family: 'Source Sans Pro', sans-serif;">
    </body>
    <center><h1 style="font-size: 50px; margin-top: 70px;">Contact us</h1></center>
    <div class="w-full max-w-xl mx-auto mb-4">
        <br><br><br><br>
        {{ include('/back/contact/_form.html.twig') }}
    </div>
{% endblock %}