@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.fadeInUp {
    animation: fadeInUp 1s ease-out;
}
.card-transition {
    transition: transform 0.5s ease, box-shadow 0.5s ease, opacity 0.5s;
    width: 100%; /* Prend toute la largeur */
}
.card-transition:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    opacity: 0.9;
}

@media (min-width: 768px) {
    .card-container {
        padding-left: 0;
        padding-right: 0;
    }
}
h5{
    text-align: center;
}

.link-animation {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}
.link-animation:hover {
    scale: 1.05;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.link-animation:active {
    scale: 0.95;
}


@media (max-width: 768px) {
    .cards-container .card-transition {
        padding: 0 15px; /* Ajuste le padding général des cartes */
    }

    .cards-container .text-container, .cards-container .image-container {
        padding: 0 10px; /* Ajuste le padding intérieur pour le texte et les images */
        flex-basis: 100%; /* Assure que le texte et les images prennent toute la largeur */
    }

    .cards-container .card-transition .flex {
        flex-direction: column; /* Change la disposition des éléments en colonne */
    }
}

/* Style général pour le fond des cartes */
.card-transition {
    margin-top: 50px;
    margin-bottom: 50px;
    min-height: 300px;
}

/* Réglage pour les écrans de type desktop */
@media (min-width: 768px) {
    .card-transition {
        padding: 0 200px; /* Padding spécifié pour desktop */
    }

    .card-transition .flex-1 img {
        max-height: 400px;
        max-width: 600px; /* Taille maximale des images pour desktop */
        border-radius: 20px;
    }
}

/* Adaptations pour les mobiles et tablettes */
@media (max-width: 767px) {
    .card-transition {
        padding: 0 20px; /* Padding réduit pour les écrans plus petits */
    }

    .card-transition .flex-1 {
        padding: 20px 0; /* Ajustement du padding pour le contenu des cartes sur petits écrans */
    }
}


