@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.fadeInUp {
    animation: fadeInUp 1s ease-out;
}
.card-transition {
    transition: transform 0.5s ease, box-shadow 0.5s ease, opacity 0.5s;
    width: 100%; /* Prend toute la largeur */
}
.card-transition:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    opacity: 0.9;
}

@media (min-width: 768px) {
    .card-container {
        padding-left: 0;
        padding-right: 0;
    }
}
h5{
    text-align: center;
}

.link-animation {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}
.link-animation:hover {
    scale: 1.05;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.link-animation:active {
    scale: 0.95;
}
@media (min-width: 768px) {
    .card-transition {
        padding: 0 200px; /* Keep the desktop padding */
    }
}
@media (max-width: 767px) {
    .card-transition {
        padding: 0 20px; /* Adjust padding for mobile screens */
    }
    .card-transition .flex-1 {
        padding: 0 10px; /* Adjust inner padding for mobile to ensure content is not too squeezed */
    }
}
